/* ===== FORCE SIMPLE WORKING CAROUSEL ===== */

/* مهم */
.carousel-track {
  display: flex;
  overflow-x: auto;
  gap: 12px;

  padding: 20px;

  /* هذا يمنع تكسير layout */
  flex-wrap: nowrap;
}

/* كل صورة */
.slide {
  flex: 0 0 300px; /* عرض ثابت */
}

/* الصورة */
.slide img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

/* إخفاء scrollbar */
.carousel-track::-webkit-scrollbar {
  display: none;
}

/* ===== FORCE SIMPLE WORKING CAROUSEL ===== */

/* مهم */
.carousel-track {
  display: flex;
  overflow-x: auto;
  gap: 12px;

  padding: 20px;

  /* هذا يمنع تكسير layout */
  flex-wrap: nowrap;
}

/* كل صورة */
.slide {
  flex: 0 0 300px; /* عرض ثابت */
}

/* الصورة */
.slide img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

/* إخفاء scrollbar */
.carousel-track::-webkit-scrollbar {
  display: none;
}

body {
  background: red;
}
